body{max-width:640px; margin:0px auto;}
.img_wrap img{width:100%;}

.form_write_wrap{position:relative; padding:0px; margin:20px; border-radius:15px;}
.form_write_wrap .top_title{text-align:center; font-weight:600; line-height:23px; border-bottom:1px solid #e2e2e2; height:75px; font-size:1.3rem; padding-top:10px;}

.form_write_wrap input {width:100%; font-size:1.2rem; height:50px; line-height:50px; padding:0px 5px; background:#f4f4f4; border:1px solid #ddd; border-radius:5px;}
.name_form{width:100%; overflow:hidden; margin:15px 0px;}
.name_form > label{width:25%; float:left; font-size:0.9rem; height:50px; line-height:50px; font-weight:700;}
.name_form > input{width:75%; float:left;}

.tel_form{width:100%; overflow:hidden; margin:15px 0px;}
.tel_form > label{width:25%; float:left; font-size:0.9rem; height:50px; line-height:50px; font-weight:700;}
.tel_form > input{width:43%; float:left;}
.tel_form .authbtn{width:30%; font-size:0.9rem; height:50px; line-height:50px; border-radius:5px;; margin-left:5px; float:left; background:#dedede; color:#4b4a4a;}

.auth_form{width:100%; overflow:hidden; margin:15px 0px;}
.auth_form > label{width:25%; float:left; font-size:0.9rem; height:50px; line-height:50px;  font-weight:700;}
.auth_form > input{width:43%; float:left;}
.auth_form .authconfirmbtn{width:30%; font-size:0.9rem; height:50px; line-height:50px; border-radius:5px;; margin-left:5px; float:left; background:#dedede; color:#4b4a4a;}

.authconfirmbtn.on{background:#e10f0f; color:#fff;}
.authbtn.on{background:#e10f0f; color:#fff;}

.check_form input{width:20px; height:20px; margin-right:7px; float:left;}
.check_form label{font-size:0.9rem; float: left; cursor:pointer;}
.service_info{ display: block; color: #3b3b3b; font-size: 0.8rem; letter-spacing:-0.9px; clear: both; margin-left:33px;}

.btn_wrap{margin:20px auto 25px; padding-bottom:20px; text-align:center; border-bottom:1px solid #e2e2e2; }
.btn_wrap .submitbtn{width:70%; text-align:center;  height:50px; color:#fff; background:#e10f0f; font-size:1.3rem; border-radius:10px;}

.layer_alert_wrap{display:none; position:absolute; top:-20px; left:-20px; border-radius:0px;  background:rgba(0,0,0,0.5); width:112.8%; height:110%; z-index:99;}
.layer_alert_contain{position:relative; width:86%; padding:5% 2% 5%; margin:40% auto; background:#fff;border-radius:10px;}

.layer_alert_contain .content{font-size:1.1rem;text-align:center; position:relative; line-height:25px; font-weight:bold; padding:4% 8% 8%;}
.alert_close_layer{width:60%;height:40px;font-size:1.2rem;color: #fff;background: #e10f0f;border-radius:10px;margin:0px 69px;}

.form_write_finish{position:relative; height:175px; padding:65px; border:1px solid #e2e2e2; margin:22px; border-radius:8px;}
.form_write_finish img{display:block; width:75%; margin:25px auto;}

.event_end{position:relative; height:175px; padding:65px; border:1px solid #e2e2e2; margin:22px; border-radius:8px;}
.event_end img{display:block; width:75%; margin:30px auto;}


footer{background:#f3f3f3; color:#292929; text-align:center; font-size:0.8rem; padding:45px 0px;}
footer span{display:block; margin-top:10px;}

@media (min-width:330px) and (max-width:380px) {
	.form_write_wrap .top_title{font-size:1.2rem;}
	.name_form > label{font-size:0.85rem;}
	.tel_form > label{font-size:0.85rem;}
	.auth_form > label{font-size:0.85rem;}
	.check_form input{width:15px; height:15px;}
	.check_form label{font-size:0.8rem;}
	.service_info{margin-left:5px;}
	footer{font-size:0.7rem;}
	input::placeholder{width:100%; color:#999; margin-left:15px; font-size:0.75rem; font-family: 'Noto Sans KR', sans-serif !important;}
}

@media screen and (max-width:320px) {
	.form_write_wrap{margin:13px;}
	.form_write_wrap input {font-size:1.0rem; height:40px; line-height:40px;}
	.form_write_wrap .top_title{height:60px; font-size:1.1rem;}
	.name_form{margin:10px 0px;height:40px;}
	.name_form > label{font-size:0.7rem;}
	.tel_form {margin:10px 0px;height:40px;}
	.tel_form .authbtn{height:40px;line-height:40px;}
	.tel_form > label{font-size:0.7rem;}
	.auth_form{margin:10px 0px;height:40px;}
	.auth_form .authconfirmbtn{height:40px; line-height:40px;}
	.auth_form > label{font-size:0.7rem;}
	.check_form input{width:15px; height:15px;}
	.check_form label{font-size:0.7rem;}
	.service_info{margin-left:7px;}
	.btn_wrap .submitbtn{font-size:1.0rem; height:40px; line-height:40px;}
	footer{font-size:0.5rem;}
	input::placeholder{width:100%; color:#999; margin-left:15px; font-size:0.6rem; font-family: 'Noto Sans KR', sans-serif !important;}
}